.container{
    padding-bottom: 2rem;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin-top: 2rem;
}

/* section 1 */
.container_card{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
}
.logo_card {
    font-size: 80px;
}
.container_card .title b{
    font-size: larger;
}
.container_card .detail{
    font-size: smaller;
    color: #a0a0a0;
}

/* section 2 */
.row_dashboard{
    display: flex;
}
.col_dashboard{
    color: #f2f2f2;
    padding : 0rem 0 0rem 1rem;
    text-align: center;
    width: 25%;
}
.col_dashboard i{
    font-size : 50px;
    padding: 1rem;
}
.primary{
    background-color: var(--secondary-color);
}
.secondary{
    background-color: var(--first-color);
}
.desc   {
    text-align: center;
    padding:1.5rem 1rem 0.5rem 1rem;
}

/* section 3 */
.left{
    width: 50%;   
}
.right{
    width: 50%;
}
.left table{
    font-size: smaller;
    width: 100%;
}
.left .table_main tr,td{
    padding: 0rem 1.5rem 1rem 1.3rem;
  }
.col{
    float: left;
    padding: 1.5rem 1rem 0rem 1.5rem;
}
.title_left{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.daily{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.3rem;
}
.daily i{
    font-size:40px;
    color: var(--secondary-color);
}
.right hr{
    border: 1px solid var(--secondary-color);
}
.garis{
    padding-bottom: 1rem;
}
.pd{
    padding: 1rem;
}

/* responsive */

/* mobile */
 @media only screen and (max-width: 839px)  {
     /* section 2 */
    .col_dashboard{
        width: 100%;
    }
    /* section 3 */
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }

    /* table for mobile */
    .table_main thead{
        display: none;
    }
    .table_main, .table_main tbody, .table_main tr, .table_main td{
        display: block;
    }
    .table_main tr{
        margin-bottom: 15px;
        border: 1px solid var(--secondary-color);
    }
    .table_main td{
        border-bottom: 1px solid var(--secondary-color);
    }
    .table_main tbody tr td{
        text-align: right;
        position: relative;
    }
    .container_table{
        margin : 40px auto 0
    }
    .table_main td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/* ipad */
@media only screen and (min-width: 840px) and (max-width: 1162px)  {
    /* section 2 */
    .col_dashboard{
        width: 50%;
    }
    /* section 3 */
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        display: flex;
    }
}