/* .header_toggle{
    display: flex;
    justify-content: left;
} */

.card p{
    color: #BEBEBE;
}

.list-employee{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    width: 100%;
    margin-top: 2rem;
    padding-right: 1rem;
}

/* start button chat */
.btn-chat{
    display: flex;
    justify-content: right;
    width: auto;
    height: auto;
}

.btn-chat i{
    color: white;
    padding: 25px;
}

.action-btn{
    background-color: var(--secondary-color);
    width: 80px;
    height: 80px;
    right: 50px;
    bottom: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
}

/* end button chat */

@media screen and (max-width: 600px) {
    .list-employee{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        width: 100%;
    }
}


