.card {
  overflow: auto;
}

.detail-total {
  display: flex;
  flex-direction: column;
  width: 30%;
  float: right;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.detail-total div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5rem 0;
}

.btn-action {
  margin-top: 1rem;
  padding: 0;
}