.container_table{
    overflow: auto;
}
.container-orders{
    /* margin-left: 60px; */
}

.wrap-filter-date{
    display: flex;
    margin: 35px 0 30px 0;
    align-items: center;
}

.date-orders{
    margin: 10px 0;
    border-radius: 10px;
}

.pagination {
    display: inline-block;
    cursor: pointer; 
  }
.pagination li {
    color: var(--first-color);
    float: left;
    padding: 8px 16px;
    list-style: none;
    border: .3px solid var(--first-color);
    border-radius: 10px;
    margin-right: 5px;
    
}
.pagination li.active {
    background-color: var(--secondary-color);
    color: white;
    border: none;
  }