.container-outlets {
    margin: 1rem 0;
}

.card{
    text-align: center;
    padding: 0 0 10px 0;
    width: 250px;
    cursor: pointer;
    margin: 10px auto;
}

.card p{
    color: #BEBEBE;
}

.list-outlet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .list-outlet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        width: 100%;       
    }

    .card {
        width: 100%;
    }
}