.payment_menu-cashier {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    height: fit-content;   
    cursor: default;
}

.title_card {
    padding: 2rem;
}

.title_card h1 {
    font-weight: 500;
}

.payment-total {
    margin-top: 1.5rem;
}

label {
    font-weight: 500;
}

input[type="text"]::placeholder {
    color: #c4c4c4;
}

input[type="text"]{
    height: 50px;
    padding: .5rem 12px;
    outline: none;
    border: 1px solid #b0b0b046;
    border-radius: 5px;
    inline-size: 100%;
    width: 300px;
}

.input-search hr {
    margin-top: 1rem;
}

.label-struck {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.total-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.total-label p {
    font-size: 24px;
    color: #01adb5;
}

.total-label h4 {
    font-weight: 500;
}

.kembali-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kembali-label p {
    color: #c4c4c4;
}

.kembali-label h4 {
    font-weight: 500;
}

.e-wallet {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border: 1px solid #b0b0b046;
    border-radius: 5px;
    inline-size: 50%;
}

.wallet {
    display: flex;
    margin-bottom: 1rem;
}

.e-wallet-no {
    inline-size: 100%;
}

.bank {
    display: flex;
    margin-bottom: 1rem;
}

.transfer-bank {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border: 1px solid #b0b0b046;
    border-radius: 5px;
    inline-size: 50%;
}

.rekening-bank {
    inline-size: 100%;
}

.btn-confirm {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.card-label {
    margin-top: 1rem;
}

@media screen and (max-width: 600px) {
    .payment_menu-cashier {
        margin-left: auto;
    }
}