.card {
    width: 100%;
    height: fit-content;   
    cursor: default;
}

label {
    font-weight: 500;
}

input[type="text"]::placeholder {
    color: #c4c4c4;
}

.input-search hr {
    margin-top: 1rem;
}

.label-struck {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.total-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.total-label p {
    font-size: 24px;
    color: #01adb5;
}

.total-label h4 {
    font-weight: 500;
}

.kembali-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .5rem;
}

.kembali-label p {
    font-size: 22px;
    color: #c4c4c4;
}

.kembali-label h4 {
    font-size: 22px;
    font-weight: 500;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
}

.option-payment {
    margin-bottom: 2rem;
}
